
/* Products in Cart*/

.itemCart{
    margin-top: 2rem;
    display: flex;
    width: 60%;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}


.containerName{
    width: 15rem;
}

.containerName > .name{
    text-align: center;
}

.itemCart > .removeItem{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemCart p {
    margin-bottom: 0rem;
}

.removeItem{
    padding: 10px 15px;
    margin: 5px;
}

.name{
    font-size: 2rem;
    text-align: left;
}

.price{
    display: flex;
    flex-direction: column;
}

/* No Products */

.emptyProducts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 16rem;
}

.emptyProducts h2{
    font-size: 2.5rem;
}

.button {
    background-color: #444141;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    margin-top: 2.5rem;
}
   
@keyframes slidernbw {
    to {
        background-position: 20vw;
    }
}